name: Test Composite Action # Nombre del flujo de trabajo.

on: [push] # Evento que dispara el flujo de trabajo, en este caso, un push.

jobs: # Definici칩n de los trabajos a ejecutar.
  local-action: # Nombre del trabajo.
    runs-on: ubuntu-latest # Especifica el sistema operativo donde se ejecutar치 el trabajo.

    steps: # Pasos del trabajo.
      - name: Checkout code # Nombre del paso.
        uses: actions/checkout@v3 # Acci칩n que clona el repositorio en el entorno de trabajo.

      - name: importando action creado # Nombre del paso.
        uses: ./.github/actions/my-actions # Acci칩n que se ejecuta en el paso.

